nprogress.css #nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ff0000; /* YouTube red */
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ff0000, 0 0 5px #ff0000;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
/* .channel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 14px;
  text-decoration: none;
  color: inherit;

  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.channel-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.channel-card:nth-child(1n) {
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}
.channel-card:nth-child(2n) {
  background: linear-gradient(135deg, #fff5f5, #fceaea); 
}
.channel-card:nth-child(3n) {
  background: linear-gradient(135deg, #f7f9fc, #e9edf5); 
}
.channel-card:nth-child(4n) {
  background: linear-gradient(135deg, #fefcfb, #f5f3f0); 
}

.channel-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
} */