/* Media query for small screens */
@media (max-width: 1280px) {
  .my-container {
    margin-top: 4%; /* smaller margin-top for mobile */
  }
}
@media (max-width: 1024px) {
  .my-container {
    margin-top: 6%; /* smaller margin-top for mobile */
  }
}
@media (max-width: 600px) {
  .my-container {
    margin-top: 10%; /* smaller margin-top for mobile */
  }
}
@media (max-width: 450px) {
  .my-container {
    margin-top: 11%; /* smaller margin-top for mobile */
  }
}
